.messageContainer {
  width: 100%;
  height: 70vh;
  overflow-y: scroll;
}

.message {
  max-width: 300px;
  border: 1px solid #d8d8d8;
  border-radius: 15px;
  padding: 5px 10px;
  box-shadow: 1px 2px 10px;
  margin-right: auto;
  margin-left: 10px;
  margin-top: 10px;
  word-wrap: break-word;
}

.ownMessage {
  max-width: 300px;
  border: 1px solid #d8d8d8;
  border-radius: 15px 15px 0 15px;
  padding: 5px 10px;
  box-shadow: 1px 2px 5px;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 10px;
  word-wrap: break-word;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(156, 156, 156);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(151, 151, 151);
  border-radius: 10px;
}