.messagesArea {
  width: 100%;
  height: 70vh;
  padding-bottom: 20px;
  overflow-y: scroll;
}

.messageContainer {
  display: flex;
  align-items: flex-end;
}

.message {
  width: max-content;
  max-width: 200px;
  border: 1px solid #d8d8d8;
  padding: 5px 10px;
  box-shadow: 3px 3px 3px #a3a3a3;
  margin-top: 10px;
  word-wrap: break-word;
}

.message.incomingMessage {
  border-radius: 15px 15px 15px 0;
  margin-right: auto;
  margin-left: 10px;
}

.message.ownMessage {
  border-radius: 15px 15px 0 15px;
  margin-left: auto;
  margin-right: 10px;
}

/* .profileIcon {
  margin-top: 20px;
} */

.profileIconImg {
  width: 30%;
  height: 30%;
  border-radius: 50%;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(156, 156, 156);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(151, 151, 151);
  border-radius: 10px;
}