.messageContainer {
  width: 100%;
  height: 100%;
}

.message {
  width: 300px;
  border: 1px solid #d8d8d8;
  border-radius: 15px;
  padding: 5px 10px;
  box-shadow: 1px 2px 5px;
  margin-right: auto;
  margin-top: 10px;
}

.ownMessage {
  width: 300px;
  border: 1px solid #d8d8d8;
  border-radius: 15px;
  padding: 5px 10px;
  box-shadow: 1px 2px 5px;
  margin-left: auto;
  margin-top: 10px;
}