* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loader {
  margin-top: 0 !important;
}

.title-enter {
  opacity: 0;
}
.title-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.title-exit {
  opacity: 1;
}
.title-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}